body {
    background-color: #fff; 
}
table {
    width: 100%;
    border-collapse: collapse; 
    margin: 10px;
    font-family: cursive;
}

th, td {
    border: 5px double rgb(13, 232, 141); 
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-shadow: 2px; 
}
tr{
    background-color: magenta;
    height: 50%; 
}

th:hover, td:hover{
    background-color: aqua;
}
