body{
    background: linear-gradient(90deg, #810120, #880725, #95132D, #9E1D35);
}
div{
    background-color: #828282;
    border: 2px solid rgb(255, 255, 255);
    padding: 50px;
    margin: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    }
p{
    background-color: #8d8d8d;
    color: rgb(255, 255, 255);
    font-family: cursive;
    text-indent: 120px;
}
h1{
    color: white;
    text-align: center;
    font-family: Franklin Gothic Medium;
    text-decoration: overline;
    text-transform: uppercase;
}
h2{
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    text-decoration: line-through;
    text-transform: capitalize;
}
h3{
    color: rgb(255, 255, 255);
    font-family: cursive;
    text-align: right;
    text-decoration: underline;
    text-transform: lowercase;
}
p.dotted {
    outline-style: dotted;
}
p.dashed {
    outline-style: dashed;}
p.solid {outline-style: solid;
}
p.double {
    outline-style: double;
}
p.groove {
    outline-style: groove;
}
p.ridge {
    outline-style: ridge;
}
p.inset {
    outline-style: inset;
}
p.outset {
    outline-style: outset;
}